*.pyc
*.pyo
/*.patch
build*/
pyshtables.py
*.swp
*.orig
*.rej
*~
pstage/
scripts/oe-git-proxy-socks
sources/
bitbake/doc/manual/html/
bitbake/doc/manual/pdf/
bitbake/doc/manual/txt/
bitbake/doc/manual/xhtml/
pull-*/
repo-ext
VERSION.txt
