# There are a number of modifiers that are allowed to be used in some
# of the different fields. They provide the following subsitutions:
#
# %n the "kernel number" of the device.
#    For example, 'sda3' has a "kernel number" of '3'
# %e the smallest number for that name which does not matches an existing node
# %k the kernel name for the device
# %M the kernel major number for the device
# %m the kernel minor number for the device
# %b the bus id for the device
# %c the string returned by the PROGRAM
# %s{filename} the content of a sysfs attribute
# %% the '%' char itself
#
# enable support for s0ix

ACTION=="add", SUBSYSTEM=="pci", DRIVER=="pcieport",TEST=="power/wakeup", ATTR{power/wakeup}="enabled"
ACTION=="add", SUBSYSTEM=="pci", DRIVER=="pcieport",TEST=="power/control", ATTR{power/control}="auto"
ACTION=="add", SUBSYSTEM=="pci", DRIVER=="igb",TEST=="power/control", ATTR{power/control}="auto"
ACTION=="add", SUBSYSTEM=="pci", DRIVER=="i915",TEST=="power/control", ATTR{power/control}="auto"
ACTION=="add", SUBSYSTEM=="pci", DRIVER=="snd_hda_intel",TEST=="power/control", ATTR{power/control}="auto"
ACTION=="add", SUBSYSTEM=="pci", DRIVER=="ahci",TEST=="ata1/host0/target0:0:0/0:0:0:0/power/control", ATTR{ata1/host0/target0:0:0/0:0:0:0/power/control}="auto"
ACTION=="add", SUBSYSTEM=="pci", DRIVER=="ahci",TEST=="power/control", ATTR{power/control}="auto"
ACTION=="add", SUBSYSTEM=="pci", DRIVER=="ahci",TEST=="ata1/power/control", ATTR{ata?/power/control}="auto"
ACTION=="add", SUBSYSTEM=="pci", DRIVER=="ahci",TEST=="ata1/host0/target0:0:0/0:0:0:0/power/autosuspend_delay_ms", ATTR{ata1/host0/target0:0:0/0:0:0:0/power/autosuspend_delay_ms}="30000"
ACTION=="add", SUBSYSTEM=="pci", DRIVER=="ahci",TEST=="ata1/power/control", ATTR{ata1/power/control}="auto"
ACTION=="add", SUBSYSTEM=="pci", DRIVER=="pcieport",TEST=="power/wakeup", ATTR{power/wakeup}="enabled"
ACTION=="add", SUBSYSTEM=="pci", DRIVER=="pcieport",TEST=="power/control", ATTR{power/control}="auto"
ACTION=="add", SUBSYSTEM=="pci", DRIVER=="igb",TEST=="power/control", ATTR{power/control}="auto"
ACTION=="add", SUBSYSTEM=="pci", DRIVER=="dwc3-pci",TEST=="power/control", ATTR{power/control}="auto"
ACTION=="add", KERNEL=="dwc3.0.auto", SUBSYSTEM=="platform", DRIVER=="dwc3",TEST=="power/control", ATTR{power/control}="auto"
